.cover-image {
    width: calc(100% - 60px);
    position: relative;
    box-sizing: border-box;
    margin-left: 30px;
}

.cover-image img { 
    width: 100%;
    height: auto;
}

.image-title {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(0,0,0,0.52) 0%, rgba(0,0,0,0) 100%);
}

.large-title {
    width: 666px;
height: 76px;
font-size: 64px;
font-family: FuturaBT-Medium, FuturaBT;
font-weight: 500;
color: #FFFFFF;
line-height: 76px;
}

.small-title {
height: 36px;
font-size: 24px;
font-family: CloudYaoTiGBK;
color: #FFFFFF;
line-height: 36px;
}

.slogan-container {
    display: flex;
    justify-content: center;
    margin-top: 95px;

}
.slogan {
    height: 32px;
    font-size: 28px;
    font-family: CloudYaoTiGBK;
    color: #000000;
    line-height: 32px;
    letter-spacing: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
    flex-shrink: 0;
}

.follow-us {
    display: flex;
    margin-left: 80px;
}

.icon-container {
    display: flex;
}

.icon-container img {
    cursor: pointer;
}
.icon-img {
    margin-left: 8px;
}